dzlsuggestionpopover {
  background: transparent;
}

dzlsuggestionpopover > revealer > box {
  margin: 0px 40px 60px 40px;
  border-top: none;
  border-bottom: 1px solid @borders;
  border-right: 1px solid @borders;
  border-left: 1px solid @borders;
  box-shadow: 0px -6px 12px @wm_shadow;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow {
  background: alpha(@content_view_bg, 0.97);
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list {
  background: transparent;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:first-child {
  transition: none;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row {
  transition: none;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:selected .title {
  color: @theme_selected_fg_color;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row .title {
  color: @theme_fg_color;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row > box {
  margin: 4px 8px 4px 8px;
}

dzlsuggestionpopover > revealer > box > elastic > scrolledwindow > viewport > list > row:last-child {
  border-bottom: none;
}
